<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <style type="text/css">
        #form{
            position: absolute;
            top: 250px;
            left: 650px;
        }
    </style>


</head>
<body class="text-center">
<form class="layui-form" id="form" >

    <div>
        <label >手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="name" id="usertel"   required autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label>验证码</label>
        <div class="layui-input-inline">
            <input type="text" name="code" style="width: 100px" required  autocomplete="off" class="layui-input">
        </div>


            <div class="layui-input-inline">
                <input id="huoqu" class="layui-btn layui-btn-sm" type="button"   value="获取验证码">
            </div>

    </div><br>
    <input type="radio" name="radi" value="1" checked title="用户"   >
    <input type="radio" name="radi" value="2"  title="公司"   >
    <div>
        <label>新密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password"  required lay-verify="required"autocomplete="off" class="layui-input">
        </div>
    </div><br>
    <div >
        <div >
            <input class="layui-btn" lay-submit="" lay-filter="dSubmit" type="submit"  value="立即提交">
        </div>
    </div>



</form>
<script th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element','jquery','layer','form'], function(){
        var element = layui.element,
            $=layui.jquery,
            layer=layui.layer,
            form=layui.form;


        var time=60;
        $("#huoqu").click(function () {
            var usertel = document.getElementById("usertel").value;
            $.ajax({

                type : "post",
                dataType : "json",
                url: "/password/send",
                data : {"usertel":usertel},
                async : false,
                success : function(data) {
                    layer.msg("发送成功");
                }
            });
            sendEmail();
            function sendEmail(){


                if(time==0){//重新获取验证码
                    $("#huoqu").attr("disabled",false);
                    $("#huoqu").val("获取验证码");
                    time = 60;
                    return false;//清除定时器
                }else{
                    $("#huoqu").attr("disabled",true);
                    $("#huoqu").val("重新发送("+time+")");
                    time--;
                }
                //设置一个定时器
                setTimeout(function(){
                    sendEmail()
                },1000)
            }

        });
        form.on('submit(dSubmit)',function (data) {

            $.ajax({

                type : "post",
                dataType : "json",
                url: "passwor/update",
                data : data.field,
                async : false,
                success : function(dat) {
                    if (dat.code=="3"||dat.code=="1"){
                        layer.msg("修改成功");
                        location.href="/";
                    }else if(dat.code=="2"){
                        layer.msg(dat.msg);
                    }else {
                      layer.msg(dat.msg);
                    }

                }
            });
            return false;



        });


    });




</script>
</body>

</html>